{% extends "layout.html" %}

{% block head %}
    <div class="jumbotron p-1 p-md-1 bg-white text-center">
        <h1 class="display-4 font-italic" id="category_title">Blocked Users</h1>
    </div>
{% endblock %}

{% block body %}
    <main role="main" class="container">


    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
        <div class="blog-main">
        <div class="row"></div>
        {% for entry in post %}
            <div class="blog-post m-3 p-3 text-left" id="posts">
                    <form action="{{ url_for('profile') }}?userID={{ entry.userID }}" method="post" class="h4 my-3">
                        <input type="submit" value="{{ entry.blockedUsername }}" id="username">
                    </form>
                    <div class="col-3 text-left"><form action="{{ url_for('unblock') }}" method="post">
                            <input type="hidden" value={{ entry.blockedUsername }} name="username">
                            <input type="submit" value="Unblock" class="btn btn-primary m-2 mx-5" id="post_button">
                            </form>
                        </div>

            </div>
        {% endfor %}
        </div>
        </div>
        </div>

    </div>
    </main>
{% endblock %}
