{% extends "layout.html" %}

{% block head %}
    <div class="jumbotron p-1 p-md-1 bg-white text-center">
        <h1 class="display-4 font-italic" id="category_title">Create Comment</h1>
    </div>
{% endblock %}

{% block body %}
    <main role="main" class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
        <div class="blog-main">
        {% for entry in posts %}
            <div class="blog-post m-3 p-3" id="posts">

                <div class="row">
                    <div class="col-11 text-left">
                        <form action="{{ url_for('profile') }}?userID={{ entry.userID }}" method="post" class="h4 my-3">
                        <input type="submit" value="{{ entry.userName }}" id="username">
                        </form>
                    </div>
                    <div class="col-1 p-1 text-left"><i>[{{ entry.category }}]</i></div>
                </div>

                <div class="row my-2">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                    <form action="{{ url_for('show_single_post') }}?postID={{ entry.postID }}" method="post" class="h3 my-3">
                    <input type="hidden" value={{ entry.postID }} name="postID">
                    <input type="submit" value="{{ entry.pTitle }}" id="title">
                    </form>
                    </div>
                    <div class="col-4"></div>
                </div>

                <div class="row my-2">
                    <div class="col-2"></div>
                    <div class="col-8 text-center"><p>{{ entry.text_body }}</p></div>
                    <div class="col-2"></div>
                </div>

                <div class="row">
                    <div class="col-1 mx-auto">
                    {% if (user['userID'] == entry.posterID) or (user['userName'] == 'admin') %}
                        <form action="{{ url_for('delete_posts') }}" method="post">
                        <input type="hidden" value={{ entry.postID }} name="postID">
                        <input type="hidden" value={{ entry.posterID }} name="posterID">
                        <input type="submit" value="Delete" class="btn btn-primary" id="post_button">
                        </form>
                    {% endif %}
                    </div>

                    <div class="col-1 mx-auto">
                    {% if user['userID'] == entry.posterID or (user['userName'] == 'admin') %}
                        <form action="{{ url_for('edit_post') }}" method="post">
                        <input type="hidden" value={{ entry.postID }} name="postID">
                        <input type="hidden" value={{ entry.posterID }} name="posterID">
                        <input type="submit" value="Edit" class="btn btn-primary" id="post_button">
                        </form>
                    {% endif %}
                    </div>

                    <div class="col-1 mx-auto">
                        {% if user %}
                            <form action="{{ url_for('upvote') }}" method="post">
                            <input type="hidden" value={{ entry.postID }} name="postID">
                            <input type="submit" value="Upvote ({{ entry.vote_total }})" class="btn btn-primary mb-3" id="post_button">
                            </form>

                            <form action="{{ url_for('downvote') }}" method="post">
                            <input type="hidden" value={{ entry.postID }} name="postID">
                            <input type="submit" value="Down Vote" class="btn btn-primary" id="post_button">
                            </form>
                        {% endif %}
                    </div>

                    <div class="col-2 mx-auto">
                    {% if user %}
                        <form action="{{ url_for('make_comment') }}" method="get">
                        <input type="hidden" value={{ entry.postID }} name="postID">
                        <input type="submit" value="Make Comment ({{ entry.post_count }})" class="btn btn-primary" id="post_button">
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
        <div class="col-1"></div>
    </div>

    <div class="row my-5">
        <div class="col-4"></div>
        <div class="col-4">
          <body class="text-center">
          <form class="form-signin" action="{{ url_for('add_comment') }}" method="post">
            <label for="register_form" class="sr-only">Text</label>
            <textarea name="text" class="form-control" rows="6" placeholder="Text" id="register_form" required></textarea>
            <button class="btn btn-lg btn-primary btn-block mt-4" id="register_button" type="submit">Submit</button>
            {% for entry in post %}
            <input type="hidden" value="{{ entry.postID }}" name="linked_id">
            {% endfor %}
          </form>
          </body>
        </div>
        <div class="col-4"></div>
    </div>

    </main>
{% endblock %}