{% extends "layout.html" %}

{% block head %}
    <div class="jumbotron p-1 p-md-1 bg-white text-center">
        <h1 class="display-4 font-italic" id="category_title">Forgot Password?</h1>
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <body class="text-center">
            <form class="form-signin" action="{{ url_for('change_pass') }}" method="post">
            <label for="register_form" class="sr-only">Username</label>
            <input name="userName" class="form-control" placeholder="Username" id="register_form">
            <h6>Who was your favorite teacher?</h6>
            <label for="register_form" class="sr-only">Security Question Answer</label>
            <input name="secAns" class="form-control" placeholder="Security Question Answer" id="register_form" type="password">

            <button class="btn btn-lg btn-primary btn-block mt-4" type="submit" id="register_button">Submit</button>
          </form>
          </body>
        </div>
    </div>
{% endblock %}