{% extends "layout.html" %}

{% block head %}
    <div class="jumbotron p-1 p-md-1 bg-white text-center">
        <h1 class="display-4 font-italic" id="category_title">Profile</h1>
    </div>
{% endblock %}

            {% block filter %}
                <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle mx-2" id="navbar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class=dropdown-item href="?userID={{ id }}">All</a>
                    {% for category in categories %}
                    <a class="dropdown-item" href="?userID={{ id }}&filter={{ category.category }}">{{ category.category }}</a>
                    {% endfor %}
                </div>
                </li>
            {% endblock %}

{% block body %}
    <main role="main" class="container">

    {% if user['userName'] == 'admin' %}
    <div class="row text-center">
        <div class="col dropdown">
            <a href="" class="dropdown-toggle p-2" id="ranks" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ranks</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                {% for rank in ranks %}
                <a class="dropdown-item" href="{{ url_for('rank') }}?rank={{ rank }}&userID={{ id }}">Rank: {{ rank }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
        <div class="blog-main">
        {% for entry in post %}
            <div class="blog-post m-3 p-3" id="posts">
                <div class="row">
                    <div class="col-2"><h4>{{ entry.userName }}</h4></div>
                    <div class="col-3"><form action="{{ url_for('follow') }}" method="post">
                            <input type="hidden" value={{ entry.username }} name="username">
                            <input type="hidden" value={{ entry.userID }} name="userID">
                            <input type="submit" value="Follow" class="btn btn-primary m-2 mx-5" id="post_button">
                            </form>
                        </div>
                     <div class="col-3"><form action="{{ url_for('block') }}" method="post">
                            <input type="hidden" value={{ entry.username }} name="username">
                            <input type="hidden" value={{ entry.userID }} name="userID">
                            <input type="submit" value="Block" class="btn btn-primary m-2 mx-5" id="post_button">
                            </form>
                        </div>
                    <div class="col-8 p-2"><h5>Rank: {{ entry.rank }}</h5></div>
                    <div class="col-2 p-1 text-right"><i>[{{ entry.category }}]</i></div>
                </div>

                <div class="row my-2">
                    <div class="col-4"></div>
                    <div class="col-4 text-center">
                    <form action="{{ url_for('show_single_post') }}?postID={{ entry.postID }}" method="post" class="h3 my-3">
                    <input type="hidden" value={{ entry.postID }} name="postID">
                    <input type="submit" value="{{ entry.pTitle }}" id="title">
                    </form>
                    </div>
                    <div class="col-4"></div>
                </div>

                <div class="row my-2">
                    <div class="col-2"></div>
                    <div class="col-8 text-center"><p>{{ entry.text_body }}</p></div>
                    <div class="col-2"></div>
                </div>

                <div class="row">
                    <div class="col-1 mx-auto">
                    {% if (user['userID'] == entry.posterID) or (user['userName'] == 'admin') %}
                        <form action="{{ url_for('delete_posts') }}" method="post">
                        <input type="hidden" value={{ entry.postID }} name="postID">
                        <input type="hidden" value={{ entry.posterID }} name="posterID">
                        <input type="submit" value="Delete" class="btn btn-primary" id="post_button">
                        </form>
                    {% endif %}
                    </div>

                    <div class="col-1 mx-auto">
                    {% if user['userID'] == entry.posterID or (user['userName'] == 'admin') %}
                        <form action="{{ url_for('edit_post') }}" method="post">
                        <input type="hidden" value={{ entry.postID }} name="postID">
                        <input type="hidden" value={{ entry.posterID }} name="posterID">
                        <input type="submit" value="Edit" class="btn btn-primary" id="post_button">
                        </form>
                    {% endif %}
                    </div>

                    <div class="col-1 mx-auto">
                        {% if user %}
                            <form action="{{ url_for('upvote') }}" method="post">
                            <input type="hidden" value={{ entry.postID }} name="postID">
                            <input type="submit" value="Upvote ({{ entry.vote_total }})" class="btn btn-primary mb-3" id="post_button">
                            </form>

                            <form action="{{ url_for('downvote') }}" method="post">
                            <input type="hidden" value={{ entry.postID }} name="postID">
                            <input type="submit" value="Down Vote" class="btn btn-primary" id="post_button">
                            </form>
                        {% endif %}
                    </div>

                    <div class="col-2 mx-auto">
                    {% if user %}
                        <form action="{{ url_for('make_comment') }}" method="get">
                        <input type="hidden" value={{ entry.postID }} name="postID">
                        <input type="submit" value="Make Comment ({{ entry.post_count }})" class="btn btn-primary" id="post_button">
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        </div>
        <div class="col-1"></div>
    </div>
    </main>
{% endblock %}